<div class='heading'>
  <h2>
    <a href='#!/{{{sanitize id}}}' class="toggleEndpointList" data-id="{{{sanitize id}}}">{{{sanitize name}}}</a> {{#summary}} : {{/summary}}{{{sanitize summary}}}
  </h2>
  <ul class='options'>
    <li>
      <a href='#!/{{{sanitize id}}}' id='endpointListTogger_{{{sanitize id}}}' class="toggleEndpointList btn btn-primary" data-id="{{{sanitize id}}}" data-sw-translate>Show/Hide</a>
    </li>
    <li>
      <a href='#' class="collapseResource btn btn-primary" data-id="{{{sanitize id}}}" data-sw-translate>
        List Operations
      </a>
    </li>
    <li>
      <a href='#' class="expandResource btn btn-primary" data-id="{{{sanitize id}}}" data-sw-translate>
        Expand Operations
      </a>
    </li>
    {{#if url}}
    <li>
      <a href='{{{sanitize url}}}' class="btn btn-primary" data-sw-translate>Raw</a>
    </li>
    {{/if}}
  </ul>
</div>
<ul class='endpoints' id='{{{sanitize id}}}_endpoint_list' style='display:none'>

</ul>
